* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

/* TELA INICIAL */

@font-face {
    font-family: 'Starjedi' ;
    src: url('Starjedi.ttf');
}

#container {
width: 100%;
height: 100vh;
}

#start-screen {
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #0B0A13;
background-image: url('./src/hyperspace-final-2.gif');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}


h1{
    font-size: 40px;
    color: white;
    font-family: 'Starjedi';
    
}

h2{
    font-size: 20px;
    color: yellow;
    font-family: 'arial';
    font-style: italic;
    padding-bottom: 50px;
}



button{
    width: 60px;
    height: 30px;
    margin-bottom: 60px;
}

audio{
    display: none;
}


/* TELA DOIS */

#game-screen {
width: 100%;
height: 100%;  
position: relative; /* itens devem flutuar*/
overflow: hidden;  /* caso saia da tela de jogo não aparece*/
background-image: url('./src/BasicWeightyFeline-size_restricted.gif');
}



.hidden {
    display: none !important;
}



/* movimentação cometas*/
.comets{
    animation: andarGirar 2.2s linear infinite alternate;
}

 @keyframes andarGirar{
    0%{transform: translateX(-80px) rotate(0deg)}
    100%{transform: translateX(150px) rotate(375deg)}
 }

 /* movimentação darthvader*/
 .darth{
    animation: andar 1.7s linear infinite;
}

 @keyframes andar{
    0%{transform: translateX(-700px)}
    100%{transform: translateX(700px)}
 }

  /* movimentação espaçonaves*/
  .spaces1{
    animation: voar 1.7s linear infinite alternate;
}

 @keyframes voar{
    0%{transform: translateX(300px)}
    100%{transform: translateX(-280px)}
 }

 .spaces2{
    animation: voar2 1.7s linear infinite alternate;
}

 @keyframes voar2{
    0%{transform: translateX(-377px)}
    100%{transform: translateX(180px)}
 }

 /* movimentação deathStars*/
 .deathStars{
    animation: float 3s ease-in-out infinite;
}

 @keyframes float{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
 }
 @keyframes gravity{
    0%{transform: translateX(0px)}
    100%{transform: translateX(10px)}
 }

